#wrapper {
    width: 95%;
    margin: 0 auto;
}

header {
    width: 100%;
}

footer {
    width: 100%;
}


@media screen and (min-width: 576px) {
    
}

@media screen and (min-width: 768px) {

    #wrapper {
        width: 90%;
        margin: 0 auto;
    }
    
}

@media screen and (min-width: 992px) {

    body, p, a, h4 {
        font-size: 14px;
    }

}

@media screen and (min-width: 1200px) {

    #wrapper {
        width: 90%;
        margin: 0 auto;
    }
    
}